#side {
    width: 350px;
    position: fixed;
    height: 80%;
    overflow: hidden;
    top: 100px;
    left: 58px;
    background-color: #f6f8fa;
    padding: 20px 60px;
    border-radius: 25px;
    z-index:9999
}

.side-head .tit{
    text-align: center;
    padding: 40px 0;
    font-size:22px;
    font-weight: 700;
}

.side-menu .tit{
    font-size:15px;
    font-weight: 700;
}

.side-menu{
    margin-bottom:30px;
}

.side-group ul{
    padding: 5px 10px;
}

.side-group ul li{
    padding:2px;
    color: #0076C0;
}

.side-group ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.recent-ate ul{
    overflow: hidden;
    padding: 3px 5px;
}

.recent-ate ul li{
    color: black;
    float: left;
    padding:0 2px;
    font-size:14px;
}