#header {
  background-color: #24292e;
  border: 1px solid rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  color: #fff;
}

#header .inner {
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1170px;
}

#header .inner .left {
    width: 350px;
    text-align: center;
}


.game-list li{
    float: left;
    padding: 0 30px;
}

.accounts-list{
    padding-right:50px;
}

.accounts-list li{
    float: left;
    padding:0 15px;
}